@using HRFlow.Common.ViewModels
@model AddEmployeeViewModel
@{
    ViewData["Title"] = "Add Employee";
}


<form asp-controller="Home" asp-action="AddEmployee" method="post">

    <div class="row">
        <h3 class="h5 text-muted">Add Employee</h3>
        <hr />

        <div asp-validation-summary="ModelOnly"></div>

        <div class="col-md-4">
            <div class="form-group mb-2">
                <label asp-for="FirstName" class="formbuilder-text-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="MiddleName" class="formbuilder-text-label">Middle Name</label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="LastName" class="formbuilder-text-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="IBAN" class="formbuilder-text-label">IBAN</label>
                <input asp-for="IBAN" class="form-control" />
                <span asp-validation-for="IBAN" class="text-danger"></span>
            </div>
              <div class="form-group mb-2">
                <label asp-for="Address" class="formbuilder-text-label">Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group mb-2">
                <label asp-for="DepartmentId" class="formbuilder-text-label">Department</label>
                <select asp-for="DepartmentId" asp-items="Model.Departments" class="form-control"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="JobId" class="formbuilder-text-label">Job</label>
                <select asp-for="JobId" asp-items="Model.Jobs" class="form-control"></select>
                <span asp-validation-for="JobId" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="HireDate" class="formbuilder-text-label">Hire Date</label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="LineManagerId" class="formbuilder-text-label">Line Manager</label>
                <select asp-for="LineManagerId" asp-items="Model.LineManagers" class="form-control"></select>
                <span asp-validation-for="LineManagerId" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Salary" class="formbuilder-text-label">Salary</label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

</form>


<script>


</script>