@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="h5">List of all active employees</h1>
</div>

<div>
</div>

<div id="employees-table"></div>

@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<script>
    const baseUrl = "http://localhost:5185";
    var table;

    function loadData(){
         $.ajax({
            url: baseUrl + "/Home/GetEmployees",
            cache: false,
            method: "GET",
            success: function (res){
                console.log("res..", res);

                var tabledata = res;

                table = new Tabulator("#employees-table", {
                    height:600,             // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
                    data:tabledata,         //assign data to table
                    layout:"fitColumns",    //fit columns to width of table (optional)
                    columns:[               //Define Table Columns
                        {title:"First name", field:"firstName", width:150, headerFilter:"input"},
                        {title:"Middle name", field:"middleName", width:150, headerFilter:"input"},
                        {title:"Last name", field:"lastName", width:150, headerFilter:"input"},
                        {title:"Line Manager", field:"lineManagerName", width:150, headerFilter:"input"},
                        {title:"Hire date", field:"hireDate", sorter:"date", hozAlign:"center", headerFilter:"input"},
                        {title:"Long-term employee", field:"longTermEmployee", hozAlign:"left", formatter:"progress", formatterParams:{
                            min:0,
                            max:7120,
                            color:["green"],
                            legendColor:"#000000",
                            legendAlign:"center",
                          }
                       },
                    ],
                });

                //trigger an alert message when the row is clicked
                table.on("rowClick", function(e, row){
                    const id = row.getData().id;
                    window.location.href = baseUrl + "/Home/EmployeeDetails/" + id;
                });
            }
        });
    }

    loadData();

</script>